<h2>Listado de productos</h2>

<ul>
    {{#each products}}
        <li>
            <strong>{{this.producto}}</strong>
            - ${{this.precio}}
            - Stock: {{this.stock}}
            - Categoría: {{this.categoria}}
        </li>
    {{/each}}
</ul>